<h1>NEW STORY ADD</h1>


<div class="container">
<div class="row">
    <div class="col-md-4">
        <img src="https://cdn1.iconfinder.com/data/icons/softwaredemo/PNG/256x256/Pencil3.png" class="img-responsive center-block" alt="">
    </div>
    <div class="col-md-8">
        <h3>Add a new Story.</h3>


        <form name="frmComment" id="frmComment">
            <label for="txtComment">Enter title here:</label>
            <input type="text" name="commentUser" id="txtComment" class="form-control" placeholder="Enter a title...">
              <hr>
            <label for="txtCommentHere">Enter description here:</label>              
            <textarea id="txtCommentHere" class="form-control" rows="3" placeholder="Describe yourself here..." ></textarea>
        </form>
      

    </div>
</div>
</div>