<h1>NEW STORY ADD</h1>


<div class="container">
<div class="row">
    <div class="col-md-4">
        <img src="https://cdn1.iconfinder.com/data/icons/softwaredemo/PNG/256x256/Pencil3.png" class="img-responsive center-block" alt="">
    </div>
    <div class="col-md-8">
        <h3>Add a new Story.</h3>


        <form name="frmComment" id="frmComment" (submit)="add_story()">
            <label for="country">Please select a country:</label>
            <select [(ngModel)]="new_story.country" name="country" id="country" class="form-control"  >
                <option *ngFor="let country of countryList" [value]="country" >{{country}}</option>
            </select>
                <hr>


            <label for="txtComment">Enter title here:</label>
            <input type="text" [(ngModel)]="new_story.title" name="title" id="txtComment" class="form-control" placeholder="Enter a title...">
              <hr>
            <label for="txtCommentHere">Enter description here:</label>              
            <textarea [(ngModel)]="new_story.description" name="description" id="txtCommentHere" class="form-control" rows="3" placeholder="Describe yourself here..." ></textarea>
                <hr>    
            <label for="url">Add image url here:</label>
            <input type="text" [(ngModel)]="new_story.url" name="url" id="url" class="form-control" placeholder="Enter a title...">
                <hr>


            <button type="submit" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-comment"></span></button>
        </form>
      

    </div>
</div>
</div>