

<div class="container">
    <div class="row clearfix well">
		<div class="col-md-2 column">
			<img id="circle" alt="140x140"  src="{{profile.picture}}" />
		</div>
		<div class="col-md-8 column">
			<blockquote>
				<p>Nickname: {{profile.nickname}}</p> <small>Last Update: {{profile.createdAt}</small>
                <p>Email: {{profile.email}}</p>
                <p>Given name: {{profile.family_name}}</p>
                
			</blockquote>
		</div>
		<div class="col-md-2 column">	 
				 <button class="btn btn-default btn-block" type="button" routerLink="/story">
                    Add Story
                 </button>
                 <button class="btn btn-default btn-block" type="button" routerLink="/story">
                    Add Story
                 </button>
                 <button class="btn btn-default btn-block" type="button" routerLink="/story">
                    Add Story
                 </button>	 
		</div>
	</div>
</div>


<div class="container">
<div class="row" *ngIf="user_stories" >
			<div class="" *ngFor="let story of user_stories" >				
				<div class="panel panel-default  panel--styled">
					<div class="panel-body">
						<div class="col-md-12 panelTop">	
							<div class="col-md-4">	
								<img class="img-responsive" src="{{story.url}}" alt=""/>
							</div>
							<div class="col-md-8">	
								<h2>{{story.title}}</h2>
                                <h6>{{story.country}}</h6>   
								<p>{{story.description}}</p>
							</div>
						</div>
						
						<div class="col-md-12 panelBottom">
							<div class="col-md-4 text-left">
								<a routerLink="/" > Read more.. </a>
							</div>
							<div class="col-md-4">
								<div class="stars">
								 <div id="stars" class="starrr"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
